*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
PlantsVsZombies/war/gwt_bree/
PlantsVsZombies/war/plantsvszombies/
PlantsVsZombies/gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
PlantsVsZombies/war/WEB-INF/deploy/
PlantsVsZombies/war/WEB-INF/classes/


framework/war/framework/
framework/war/WEB-INF/classes/